@font-face {
	font-family: myFirstFont;
	src: url('Roboto-Regular.ttf');
}

body {
	font-family: myFirstFont;
}

body{
	margin:0;
	height:100%;
	display: flex;
	flex-direction: column;
	background-color:#3d0000;
}



.menuvanlinks {
	position:fixed;
	bottom:0px;
	margin:0;
	width:70px;
	height:100%;
	background-color: #811412;

}

.menuvanlinks ul {
	margin: 0;
	padding: 0;
	margin-top:100px;
	list-style-type: none;
}

.menuvanlinks ul li a {
	text-decoration: none;

	padding-bottom:15px;
	padding-top:15px;
	padding-left:18px;


	display:block;
}
.chosen {
	background-color: #ad2320;

}

.unchosen {
	background-color: #811412;
}


@keyframes menubuttonshover {
	0% {
		width:70px;


	}
	100%{
		width:250px;

	}
}
@keyframes menubuttonshover2 {
	0% {
		width:70px;
		background-color: #ad2320;

	}
	100%{
		width:250px;
		background-color: #ad2320;
	}
}
.chosen:hover {
	background-color: #ad2320;
	position:relative;
	color: white;

	background-color: #ad2320;
	width: 250px;

	animation-name: menubuttonshover2;
	animation-duration: 1s;
	transition:1s;

}

.unchosen:hover{
	position:relative;
	color: white;

	background-color: #ad2320;
	width: 250px;

	animation-name: menubuttonshover;
	animation-duration: 1s;
	transition:1s;
}
.menuvanboven{
	position:fixed;
	margin:0;
	width:100%;
	height:50px;

}
.menuvanboven ul {
	list-style-type: none;
	margin: 0;

	padding: 0;
}
.menuvanboven ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #811412;
}

.menuvanboven li {
	position:relative;
	float: right;

}

.menuvanboven li a:hover{
	background-color: white;

	color: #811412;
	transition: all 0.8s;
}

.menuvanboven li a {
	display: inline-block;
	color: white;
	text-align: center;
	float:middle;
	padding-top:16px;
	padding-bottom:16px;
	padding-right:25px;
	padding-left:25px;

	text-decoration: none;
}

.menuvanboven img {
	width:170px;
	height:40px;
	margin-top:5px;
	margin-right:50px;
	padding-right:20px;
	position:relative;
	left:30px;

}



#settings{
	margin-bottom:50px;
}
@keyframes dropdowndiv {
	from  {opacity:0;}
	to { opacity:1;}
}


.venster {
	position:absolute;
	opacity:0.6;
	width: 100%;
	height:100%;
	background-color: #0c0c0c;
	display:none;
}

@keyframes registratieformpje {
	0%	{top:10%;opacity:0;}
	55% {top:14%;opacity:0;}
	100% {top: 20%;opacity:1;}
}

.registratie {
	border-radius: 7px;
	position:fixed;
	padding-left:5%;
	padding-top:3%;
	left:25%;
	top: 20%;
	opacity:1;
	width: 50%;
	height:60%;
	background-color: #F8FBFD;
	animation-name: registratieformpje;
	animation-duration: .7s;
	display:none;
}
.registratie a {
	color:black;
}
.registratie input{

	border-style: solid;
	border-width: 2px;
	border-color: rgba(0,0,0,0.4);
	height:25px;
	border-radius:2px;



}
.registratie input:focus{
	border-color: #811412;

	opacity: 1;
}




.divvoornaam {

	position:absolute;

}
.divachternaam {

	position:relative;
	margin-left:180px;

}
.divusername {
	position:relative;
}
.ww1 {
	position:relative;
}
.divemail {
	position:relative;
}
.ww2 {
	position:relative;

}

.inputje{
	width:300px;
}

#VNT{
	width:160px;
}
#ANT{
	width:120px;
}
.btn{
	position:relative;
}

.allesformreg div {

	padding-top:10px;
}

.mainpagina{

	top:50px;
	position:absolute;
	min-height: 100%;
	width:100%;
}
.logintje{
	border-top:1px;
	border-color:#333;
	background-color:white;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:20px;
	padding-top:20px;
	position:fixed;
	right:104px;
	top:51px;

	display:none;
	animation-name:logintjeformpje;
	animation-duration:0.4s;
}



@keyframes logintjeformpje {
	0%	{right:-104px;opacity:0;}

	100% {right: 104px;opacity:1;}
}

.errortjezz a{
	color:red !important;


}
.success a{
	color:blue !important;

}
.circle {
	top:5px;
	left:250px;
	position: absolute;
	display: block;
	text-decoration: none;
	border-radius: 50%;
	background: #811412;
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	font: bold 20px/40px Arial, sans-serif;
	text-transform: uppercase;
	transition: all 0.4s ease-in-out;
	box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 12px #ad2320;

}
.zoeken{
	position:absolute;
	text-decoration: none;
	left:350px;
	top:7%;
	color:white;
	background-color:#ad2320;
	width:110px;
	height:80%;
	border-radius:25px;
	border-color:white;
	border: 2px solid white;
}
.zoeken a{

	position:relative;
	left:15px;
}
.menuvanboven i{
	top:5px;
	position:relative;
	left:5px;
}
.circle:hover {
	box-shadow:inset 0 0 0 5px #ad2320, inset 0 0 0 50px #811412;
}

.circle.double {
	line-height:12px;
	padding:25px 0;
	height:50px;
}
.venster {
	position:absolute;
	opacity:0.6;
	width: 100%;
	height:100%;
	background-color: #0c0c0c;
	display:none;
}

@keyframes registratieformpje {
	0%	{top:10%;opacity:0;}
	55% {top:14%;opacity:0;}
	100% {top: 20%;opacity:1;}
}

.recepttoevoegen {
	border-radius: 7px;
	position:fixed;
	padding: 2% 2% 2% 2%;
	left:25%;
	top: 20%;
	opacity:1;
	width: 50%;
	height:60%;
	background-color: #F8FBFD;
	animation-name: registratieformpje;
	animation-duration: .7s;
	display:none;
}
.recepttoevoegen a {
	color:black;
	margin-top:2%;
}
.recepttoevoegen input{
	width:160px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0,0,0,0.4);

	border-radius:2px;

}
.recepttoevoegen input:focus{
	border-color: #811412;

	opacity: 1;
}





.divrating {

	position: relative;
	margin-left: 180px;

}
.divsoort {
	position:relative;
}


#TGR{
	width:160px;
}
#RAT{
	width:120px;
}
.receptentabellen{
	border: 1px solid black;
	Background-color:white;
	padding:7px;
	border-radius: 15px;
	border-collapse: collapse;
	display:inline-block;
	margin-left:15px;
	margin-top:15px;
	border-width: 2px;
	border-color: #811412;
	border-radius: 7px;
	height:300px;
	width:200px;
}
.ratrat{
	display:inline-block;
}
.gelogged{
	background-color:white

}
.gelogged a {
	text-decoration: none;
	width: 170px;
	height:30px;
	padding-top:10px;
	color:black;
	position:relative;
	display:block;
	text-align: center;

}

@keyframes geloggedan {
	0%	{right:-104px;opacity:0;}

	100% {right: 104px;opacity:1;}
}

.gelogged {
	border-style: solid;
	border-width: 1.5px;
	border-radius: 7px;
	border-color:#811412;


	background-color:white;
	width:255px;

	position:fixed;
	right:104px;
	top:51px;

	display:none;
	animation-name:geloggedan;
	animation-duration:0.4s;
}
.gelogged ul {
	list-style-type: none;
	background-color:white;
	color:black;



}


.gelogged li a:hover{
	background-color: #811412;
	color: white;
	transition: all 0.8s;
}

.gelogged li a {
	display: inline-block;
	color: #333;
	text-align: center;
	float:middle;
	text-decoration: none;
}
.receptdiv {
	border-radius: 7px;
	position:fixed;
	padding-left:3%;
	padding-top:2%;
	left:25%;
	top: 20%;
	opacity:1;
	width: 50%;
	height:60%;
	background-color: #F8FBFD;
	animation-name: registratieformpje;
	animation-duration: .7s;
	display:none;
}

#fotodivrecept{

	background-repeat: no-repeat;
	width: 350px;
	height: auto;
	position:absolute;
	top:80px;
	right:15px;
}
#fototabel{
	left:50px;
	width:100px;
	border-radius:50%;
}

#fotosss{
	border-radius:50%;
	margin-left:25px;

}

#titelreceptdiv{
	font-size:34px;
}
.probleemtoevoegen {
	border-radius: 7px;
	position:fixed;
	padding-left:3%;
	padding-top:2%;
	left:25%;
	top: 20%;
	opacity:1;
	width: 50%;
	height:60%;
	background-color: #F8FBFD;
	animation-name: registratieformpje;
	animation-duration: .7s;
	display:none;

}
.ratezelf {
	display:inline-block;
	opacity:0.3;
}
.ratezelf:hover{
	opacity:0.6;
}
.tablebugfixes{
	border: 1px solid black;
	Background-color:white;
	margin-bottom:15%;



	top:50px;
	border-width: 2px;
	border-color: #811412;
	border-radius: 7px;
	width:90%;
	left:5%;
	position:relative;

	border: 1px solid #811412;
	border-collapse: collapse;
}
.tablebugfixes2{
	border: 1px solid black;
	Background-color:white;




	top:50px;
	border-width: 2px;
	border-color: #811412;
	border-radius: 7px;
	width:90%;
	left:5%;
	position:relative;

	border: 1px solid #811412;
	border-collapse: collapse;
}
.tablebugfixes td{
	border: 1px solid #811412;
	border-collapse: collapse;
	padding:1%;
}
.tablebugfixes tr{
	border: 1px solid #811412;
	border-collapse: collapse;

}
.tablebugfixes2 td{
	border: 1px solid #811412;
	border-collapse: collapse;
	padding:1%;

}
.tablebugfixes2 tr{
	border: 1px solid #811412;
	border-collapse: collapse;
}
.circle2 {

	display: block;
	text-decoration: none;
	border-radius: 50%;
	background: #008122;
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	font: bold 20px/40px Arial, sans-serif;
	text-transform: uppercase;
	transition: all 0.4s ease-in-out;
	box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 12px #00ad36;

}
.circle2:hover {
	box-shadow:inset 0 0 0 5px #30ad2b, inset 0 0 0 50px #008130;
}

.circle2.double {
	line-height:12px;
	padding:25px 0;
	height:50px;
}
.checkbuxx{
	display:none;
}

.fixed{
	color:dodgerblue;
}
.notfixed {
	color: orangered;
}
.fotoinputdiv input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


#upload_button {
	display: none;

	border: 0px;
	background: linear-gradient(180deg, #3d0000, #811412);
	border-radius: 3px;

	color: #fff;

	padding: 5px;
}



#idknopingredient{
	display: inline-block;
	background: forestgreen;
	border-radius: 4px;
	font-family: "arial-black";
	font-size: 14px;
	color: #FFF;
	padding: 8px 12px;
	cursor: pointer;
	margin-bottom:10px;
}

.boxlinks{
	width:40%;
	display:inline-block;
	height:300px;
	position:absolute;
}
.boxrechts{
	width:40%;
	height:300px;
	position:absolute;
	left:49%;
	top:4%;


}
#VerwijderIngredient{
	display: inline-block;
	background: #811412;
	border-radius: 4px;
	font-family: "arial-black";
	font-size: 14px;
	color: #FFF;
	padding: 8px 12px;
	cursor: pointer;
	margin-bottom:10px;
}
.zoekendiv {
	border-radius: 7px;
	position:fixed;
	padding-left:4%;
	padding-top:3%;
	left:25%;
	top: 20%;
	opacity:1;
	width: 50%;
	height:60%;
	background-color: #F8FBFD;
	animation-name: registratieformpje;
	animation-duration: .7s;
	display:none;
}
input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;

	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 25px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
	width: 90%;
}

.ingredienten{
	position:absolute;
	right:7%;
	top:7%;
}
.deleterecept{
	margin-top:1%;
	display: inline-block;
	background: #811412;
	border-radius: 4px;
	text-decoration:none;
	font-size: 14px;
	color: #FFF;
	padding: 8px 12px;
	cursor: pointer;
	margin-bottom:10px;
}
.divrecepttitel{
	position:relative;
	width: 65%;
}
.zoekenreceptinput{
	margin-top:1%;
	display: inline-block;
	background: #811412;
	border-radius: 4px;
	text-decoration:none;
	font-size: 14px;
	color: #FFF;
	padding: 8px 12px;
	cursor: pointer;
	margin-bottom:10px;
}
.bereiding{
	position:relative;

	width:75%;

}